---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogFilter from '../components/BlogFilter.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const published_posts = posts.filter((post) => post.data.published)

const {tag} = Astro.props

const tags = published_posts.map((p) => p.data.category.split(",")).flat(); //Gets all tags from collection
const uniqueTags = [...new Set(tags)];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			/* ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			} */
			/* ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			} */
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 12px;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: #333333
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body class="has-navbar-fixed-top">
		<Header />
		<main class="homepage">
            <section class="hero homepage-section">
                <div class="hero-body">
                    <p class="title" style="margin-bottom:.25em">OldInsuranceMaps.net Blog</p>
                    <p class="subtitle" style="color:#333333">This blog is a compilation of updates, presentations, writings, and
                        tech notes about the project since it started in 2020.
                        For direct updates, you can also <a href="https://oldinsurancemaps.net/newsletter/lahmg-news/subscribe/" title="Subscribe to the newsletter">subscribe to the newsletter</a>,
                        or read past newsletters at <a href="https://oldinsurancemaps.net/news/" title="View newsletter archives">oldinsurancemaps.net/news</a>.</em>
                    </p>
                </div>
            </section>
            <section class="homepage-section">
                <div class="level">
                    <div class="level-left">
                        <!-- <div class="level-item">
                            Filter posts:
                        </div> -->
                        <div class="level-item" style="display:flex; justify-content:space-around;" id="tags" data-tags={uniqueTags}>
                                {uniqueTags.map((tag) => <BlogFilter {tag} />)}
                        </div>
                    </div>
                    <div class="level-right">
                        <button id="clearFilter" style="display:none;"><i class="ph-bold ph-x"></i></button>
                    </div>
                </div>
            </section>
			<section>
				<ul>
					{
						published_posts.map((post) => (
							<li class={`post-card ${post.data.category.replace(",", " ")}`}>
								<a href={`/post/${post.id}/`}>
									{post.data.heroImage && (
										<Image width={720} height={160} src={post.data.heroImage} alt="" />
									)}
                                    <div style="padding: 10px;">
                                        <h4 class="title">{post.data.title}</h4>
                                        <div class="level">
                                        <p class="date">
                                            <FormattedDate date={post.data.pubDate} />
                                            &mdash; <span>{post.data.category.replace(",", ", ")}</span>
                                        </p>
                                        </div>
                                    </div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
<script is:inline>
    function showAll(evt) {
        let elementsToShow = document.getElementsByClassName("post-card");
        for (let i = 0; i < elementsToShow.length; i++) {
            elementsToShow[i].style.display = "block";
        }
        document.getElementById("clearFilter").style.display = "none";
        resetFilterTagStyles()
    }

  const inputClear = document.getElementById("clearFilter");
  inputClear.addEventListener("click", showAll);

  function resetFilterTagStyles() {
    const inputs = document.querySelectorAll("#blogFilter");
    inputs.forEach((e) => {
        e.classList.remove("is-dark")
        e.classList.add("is-light")
    });
}

  function hideBlogs(evt) {
    resetFilterTagStyles()

    evt.currentTarget.classList.remove("is-light")
    evt.currentTarget.classList.add("is-dark")
    let selectedTag = evt.currentTarget.getAttribute("data-type");
    console.log(selectedTag)
    let tagElement = document.getElementById("tags");
    let tags = tagElement.dataset.tags;
    console.log(tags)
    tags = tags.split(",");
    tags.splice(tags.indexOf(selectedTag), 1);

    tags.forEach((t) => {
      const elementsToHide = document.getElementsByClassName(t);
      for (let i = 0; i < elementsToHide.length; i++) {
        elementsToHide[i].style.display = "none";
      }
    });

    let elementsToShow = document.getElementsByClassName(selectedTag);
    for (let i = 0; i < elementsToShow.length; i++) {
      elementsToShow[i].style.display = "block";
    }
    document.getElementById("clearFilter").style.display = "block";
  }

  // Event listener for the button click
  const input = document.querySelectorAll("#blogFilter");
  input.forEach((e) => {
        e.addEventListener("click", hideBlogs);
        e.addEventListener("click", () => {
    });
  });

  
</script>